<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <!-- <script type="text/javascript" src="../../../../static/js/socket/socket.io.js"></script> -->
    <script type="text/javascript" charset="utf-8">

        var socket = io.connect('http://localhost:5000')

        socket.on("connection", function(){
            socket.send("User has connected")
        })
        // test_socket.emit('message', 'I\'m connected!');


    </script>
</head>
<body>
    <h1>test</h1>
<h2 id="t"></h2>

</body>
</html>
